@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
html,
body {
    --background-color: #f5f5f5;
    --text-font: Rubik, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    background-color: theme('colors.background');
    font-family: theme('fontFamily.text');
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

button,
input {
    font-family: theme('fontFamily.text');
}

::placeholder {
    color: theme('colors.lightest');
}
