.gavel-title {
    font-size: 4.5rem;
    font-weight: bold;
    margin: 0 0 -0.5rem;
}

.custom-title {
    color: var(--primary);
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

@media (min-width: 800px) {
    a {
        width: 50% !important;
    }
}