/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.heroTitle {
    color: #00ACE6;
    font-weight: bold;
    font-size: 5rem;
}

.heroTagline {
    color: #657985;
    font-size: 1.5rem;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    text-align: left;
    color: #657985;
}

.subheading {
    color: #657985;
    font-weight: bold;
}
