<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <title>{{title}}</title>
    </head>
    <body>
        <div class="gavel-header">
            <div class="gavel-header-gavel">Gavel+</div>
            <div class="gavel-header-title">{{title}}</div>
        </div>
        <div class="panel">
            <div class="stats-row">
                <div class="stat">
                    <p id="seen" class="stat-title">0</p>
                    <p class="stat-subtitle">Seen</p>
                </div>
                <div class="stat">
                    <p id="votes" class="stat-title">0</p>
                    <p class="stat-subtitle">Votes</p>
                </div>
                <div class="stat">
                    <p id="time" class="stat-title">0</p>
                    <p class="stat-subtitle">Judging Time</p>
                </div>
                <div class="stat">
                    <p id="mu" class="stat-title">0</p>
                    <p class="stat-subtitle">Average Mu</p>
                </div>
                <div class="stat">
                    <p id="sigma" class="stat-title">0</p>
                    <p class="stat-subtitle">Average Sigma^2</p>
                </div>
            </div>
            <div class="control-row">
                <div class="batch">
                    <p>Batch Ops</p>
                    <div class="batch-icon">Trash</div>
                    <div class="batch-icon">Hide</div>
                    <div class="batch-icon">Edit</div>
                </div>
                <div class="tabs">
                    <div class="tab-text"></div>
                    <div class="tab-text"></div>
                    <div class="tab-text"></div>
                    <div class="tab-rect"></div>
                </div>
                <div class="add-container">
                    <p class="add-judges">Add Judges</p>
                </div>
            </div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Votes</th>
                    <th>Alpha</th>
                    <th>Beta</th>
                    <th>Updated</th>
                    <th>Actions &lbrack;Delete,Hide,Edit&rbrack;</th>
                </tr>
            </table>
        </div>
    </body>
</html>