<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>{{title}}</title>
    </head>
    <body>
        <div class='center'>
            <h1 class='index-gavel-title'>Gavel</h1>
            <h2 class='index-custom-title'>{{title}}</h2>
            <a class='primary-button' href='/judge/login'>Judging Portal</a>
            <a class='text-button' href='/admin/login'>Admin Portal</a>
        </div>
    </body>
</html>