<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <script src="/static/js/util.js" async defer></script>
        <link rel="stylesheet" href="/static/css/globals.css" />
        <link rel="stylesheet" href="/static/css/index.css" />
        <title>{{title}}</title>
    </head>
    <body>
        <div class="container">
            <h1 class="gavel-title">Gavel+</h1>
            <h2 class="custom-title">{{title}}</h2>
            <a class="primary-button" href="/judge/login">Judging Portal</a>
            <a class="text-button" href="/admin/login">Admin Portal</a>
        </div>
    </body>
</html>