<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <title>{{title}}</title>
    </head>
    <body>
        <div class="gavel-header">
            <div class="gavel-header-gavel">Gavel</div>
            <div class="gavel-header-title">{{title}}</div>
        </div>
        <h1>Hello, {{username}}</h1>
        <p>PLEASE READ THE FOLLOWING</p>
        <p>
            Welcome to Gavel, an innovative judging system that utilizes
            pairwise comparisons for hackathon judging.
        </p>
        <p>
            Once you get started, you will be presented with a project and its
            location. After you complete the first project, you will be
            presented with a second.
        </p>
        <p>
            Once completing the second project, you will be asked to compare the
            current project and the previous project you viewed. This same
            process will continue for all projects afterwards until all projects
            have been viewed.
        </p>
        <p>
            If a team is absent or is busy being judged, click the
            &lsquo;skip&rsquo; button. This will NOT impact their rating!
        </p>
        <p>
            If you suspect a team may be cheating, please report it to the
            organizers with the &lsquo;flag&rsquo; button.
        </p>
    </body>
</html>