<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>{{title}}</title>
    </head>
    <body>
        <div class='gavel-header'>
            <div class='gavel-header-gavel'>Gavel</div>
            <div class='gavel-header-title'>{{title}}</div>
        </div>
        <div class='center'>
            <input type='text' id='login-code-input' class='text-field' />
            <label for='login-code-input' class='text-field-label'>Enter your judging code</label>
            <p>If you did not get a code, check your email or contact an organizer.</p>
            <button class='primary-button'>Submit</button>
        </div>
    </body>
</html>