<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/css/globals.css" />
    </head>
    <body>
        <div class="gavel-header">
            <div class="gavel-header-gavel">Gavel</div>
            <div class="gavel-header-title">{{title}}</div>
            <div class="logout" onclick="logoutJudge()">
                <div class="logout-text">Logout</div>
                <img
                    class="logout-icon"
                    src="/static/logout.svg"
                    alt="logout icon"
                />
            </div>
        </div>
        <div class="container">Judging Page!</div>
    </body>
</html>